.createObjectContainer {
  box-shadow: 1px 3px 15px 2px #00000040;
}

.createObjectHead {
  border-radius: 5px;
  background: var(--yellow);
}

.createObjectBtn {
  box-shadow: inset 0 0 0 2px var(--green);
}
.createObjectBtn:hover {
  box-shadow: inset 0 0 2px 2px var(--green);
}
