.statsTitle {
  font-family: var(--font-inter);
  font-size: 24px;
  line-height: 30px;
}
.statsContainerItem {
  box-shadow: 1px 3px 15px 2px #00000040;
}
.statsContainerItemTitle {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 20px;
  background: var(--yellow);
}
.statsContainerItemValue {
  font-family: var(--font-jura);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.roomItemName {
  background: var(--yellow);
}

.roomItem {
  box-shadow: 1px 3px 15px 2px #00000040;
}
@media (width >= 48rem /* 768px */) {
  .statsTitle {
    font-size: 20px;
    line-height: 28px;
  }
  .statsContainerItemTitle {
    font-size: 20px;
    line-height: 24px;
  }
  .statsContainerItemValue {
    font-size: 24px;
    line-height: 28px;
  }
}
