.Table {
  box-shadow: 1px 3px 15px 2px #00000040;
}
.TableTopRow {
  background: var(--yellow);
}
.editInput:focus {
  outline: none;
  box-shadow: none;
}
.editInput::-webkit-outer-spin-button,
.editInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editInput {
  -moz-appearance: textfield;
}
