.Payment {
  font-family: var(--font-inter);
}
.totalItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--yellow-gradient);
  padding: 16px 0;
  border-radius: 5px;
}

.totalItemText {
  font-size: 16px;
  line-height: 18px;
}
.totalItemSum {
  font-size: 20px;
  line-height: 24px;
}

.datailedTytle {
  font-size: 20px;
  line-height: 24px;
}
.datailedListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--yellow-gradient);
  padding: 22px 14px;
  font-family: var(--font-inter);
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  max-height: 60px;
}
.datailedListItemSum {
  white-space: nowrap;
  flex-shrink: 0;
}
.paymentForm {
  background: var(--background);
  box-shadow: 1px 3px 15px 2px #00000040;
}
.paymentFormTitle {
  background: var(--yellow-gradient);
}
.editInput:focus {
  outline: none;
  box-shadow: none;
}
.editInput::-webkit-outer-spin-button,
.editInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editInputSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  padding: 4px 8px;
  width: 100%;
}
.editInputSelect::placeholder {
  width: 100%;
}
.editInput {
  -moz-appearance: textfield;
  border-bottom: 1px solid black;
  padding: 4px 8px;
  width: 100%;
}
.editInput::placeholder {
  color: var(--blue);
}
.editInputSelect:hover,
.editInputSelect:focus-visible,
.editInputSelect:active {
  box-shadow: none;
  outline: none;
}

.paymentFormConfirmBtn {
  box-shadow: inset 0 0 0 2px var(--green);
}
.paymentFormConfirmBtn:hover {
  box-shadow: inset 0 0 2px 2px var(--green);
}
@media (width >= 48rem /* 768px */) {
  .totalItem {
    width: 100%;
    padding: 18px 20px;
  }
  .totalItemText {
    font-size: 20px;
    line-height: 24px;
  }
  .totalItemSum {
    font-family: var(--font-jura);
    font-size: 64px;
    line-height: 76px;
  }

  .datailedTytle {
    font-family: var(--font-inter);
    font-size: 36px;
    line-height: 44px;
  }
  .datailedListItemText {
    font-size: 24px;
    line-height: 28px;
  }
  .datailedListItemSum {
    font-family: var(--font-jura);
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
}
