.Calendar {
  font-family: var(--font-inter);
  box-shadow: 1px 3px 15px 2px #00000040;
}
.CalendarSelect {
  background: var(--yellow);
}
.CalendarBodyHead {
  background: var(--yellow);
}
.CalendarHeadDay {
  background: none;
}
