.datesTytle {
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 24px;
}

.datesText {
  font-family: var(--font-inter);
  font-size: 16px;
}

@media (width >= 48rem /* 768px */) {
  .datesTytle {
    font-size: 24px;
    line-height: 30px;
  }
}
