.pastOrder {
  color: var(--green);
}
.currentOrder {
  color: #a89d00;
}
.futureOrder {
  color: var(--blue);
}
.canceledOrder {
  color: var(--red);
}
.hideOnMobile {
  display: none;
}
.inspectText {
  font-size: 14px;
  line-height: 18px;
}
@media (width >= 48rem /* 768px */) {
  .hideOnMobile {
    display: flex;
  }
  .inspectText {
    font-size: 16px;
    line-height: 24px;
  }
}
