.sectionTytle {
  font-size: 20px;
  line-height: 24px;
}
.Warning {
  font-size: 16px;
  line-height: 20px;
}
@media (width >= 48rem /* 768px */) {
  .sectionTytle {
    font-size: 36px;
    line-height: 44px;
  }
  .Warning {
    font-size: 20px;
    line-height: 24px;
  }
}
