.header {
  box-shadow: 1px 3px 15px 2px #00000040;
  font-family: var(--font-koulen);
  font-size: 20px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
}
.searchInput::placeholder {
  color: black;
  opacity: 1;
}
.NavigationAddProjectBtn {
  background: var(--yellow-gradient);
}
.PersonalNotifyMark {
  background: var(--green);
}
