.selector {
  min-width: 100px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.selected {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}
.selected:hover {
  border: 2px solid #afafaf;
}

.dropdown {
  position: absolute;
  top: -46px;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.option {
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
}

.option:hover {
  background: #f5f5f5;
}

.active {
  font-weight: bold;
  background: #eef;
}
