.calendarDiv {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  margin: auto;
  scrollbar-gutter: stable;
}

.calendarDiv::-webkit-scrollbar {
  height: 8px;
  background: #ffb32680;
  display: block;
  border-radius: 8px;
}

.calendarDiv::-webkit-scrollbar-thumb {
  background-color: #ffb326cc;
  border-radius: 999px;
  min-height: 6px;
  min-width: 30px;
}

.calendarDiv::-webkit-scrollbar-track {
  background: #ffb32680;
}
.calendarDay {
  box-shadow: 1px 3px 15px 2px #00000040;
}
@media (max-width: 1280px) {
  .calendarButton {
    min-width: 22%;
  }
}

@media (max-width: 768px) {
  .calendarButton {
    min-width: 34%;
  }
}

@media (max-width: 500px) {
  .calendarButton {
    min-width: 48%;
  }
}
