/* SelectorStyles */

.selectorTytle {
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 24px;
}

.nextPageBtn {
  font-size: 24px;
  background: var(--yellow-gradient);
}

@media (width >= 48rem /* 768px */) {
  .selectorTytle {
    font-size: 24px;
    line-height: 30px;
  }
}
