.clients {
  font-family: var(--font-inter);
}
.clientsDownloadPDF {
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* SelectorStyles */

.selectorTytle {
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 24px;
}

.nextPageBtn {
  font-size: 24px;
  background: var(--yellow-gradient);
}
.nextPageBtn:hover {
  box-shadow: 0px 4px 14.8px 0px #ffb326;
}
@media (width >= 48rem /* 768px */) {
  .selectorTytle {
    font-size: 24px;
    line-height: 30px;
  }
}
.materialTotalCostTytle {
  font-size: 14px;
  line-height: 18px;
}
.materialTotalCostSum {
  font-size: 14px;
  line-height: 18px;
}
.materialPaymentTytle {
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 24px;
}
.materialPaymentText {
  background: var(--yellow-gradient);
  font-family: var(--font-inter);
  font-size: 14px;
  line-height: 18px;
}
@media (width >= 48rem /* 768px */) {
  .clientsDownloadPDF {
    font-size: 16px;
    line-height: 18px;
  }

  .materialTotalCostBlock {
    background: var(--background);
    box-shadow: 1px 3px 15px 2px #00000040;
  }
  .materialTotalCostTytle {
    font-size: 24px;
    line-height: 28px;
  }
  .materialTotalCostSum {
    font-family: var(--font-jura);
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }
  .materialPaymentTytle {
    font-size: 36px;
    line-height: 44px;
  }
  .materialPaymentTextTytle {
    font-size: 24px;
    line-height: 30px;
  }
  .materialPaymentTextSum {
    font-family: var(--font-jura);
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }
}
