.addCrewButton {
  background: var(--yellow-gradient);
  font-family: var(--font-inter);
}
.addCrewButton:hover {
  box-shadow: 0px 4px 14.8px 0px #ffb326;
}
.addCrewForm {
  font-family: var(--font-inter);
  box-shadow: 1px 3px 15px 2px #00000040;
}

.addCrewInput {
  color: var(--blue);
}

.addCrewInput::placeholder {
  color: var(--blue);
  opacity: 1;
}
