.tableWrapper {
  font-family: var(--font-inter);
  box-shadow: 1px 3px 15px 2px #00000040;
}

.listHeader {
  font-size: 18px;
  background: var(--yellow-gradient);
}
.listBody {
  font-size: 16px;
}
.selected {
  background-color: #e0ffe0;
}

.searchInput::placeholder {
  color: var(--blue);
  opacity: 1;
}
