.estimateTytle {
  font-size: 20px;
  line-height: 24px;
}
.totatCostSeparate {
  background: none;
}
.editInput:focus {
  outline: none;
  box-shadow: none;
}
.editInput::-webkit-outer-spin-button,
.editInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editInput {
  -moz-appearance: textfield;
}

.confirmButton {
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px var(--green);
  transition: all 0.2s ease;
}
.confirmButton:hover {
  box-shadow: inset 0 0 4px 2px var(--green);
}

.confirmButton.confirmed {
  box-shadow: inset 0 0 0 2px var(--red);
}
.confirmButton.confirmed:hover {
  box-shadow: inset 0 0 4px 2px var(--red);
}

.totatCostSeparateTytle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.totatCostMain {
  background: var(--yellow-gradient);
  box-shadow: 1px 3px 15px 2px #00000040;
}
.tableBetweenWrap {
  position: relative;
  box-shadow: none;
}
.tableBetweenWrapSecond {
  position: relative;
  box-shadow: none;
}

.totatCostMainTytle {
  font-family: var(--font-inter);
  line-height: 17px;
  font-size: 14px;
}
.totatCostMainSum {
  font-family: var(--font-jura);
  line-height: 17px;
  font-size: 14px;
}
@media (width >= 48rem) {
  .estimateTytle {
    font-size: 36px;
    line-height: 44px;
  }
  .totatCostMainTytle {
    line-height: 29px;
    font-size: 24px;
  }
  .totatCostMainSum {
    font-weight: 600;
    font-style: SemiBold;

    line-height: 38px;
    font-size: 32px;
  }
  .totatCostSeparateTytle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  .totatCostSeparate {
    background: var(--background);
  }
  /* Ліва тінь */
  /* .tableBetweenWrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    box-shadow: -3px 0 15px 2px #00000040;
    pointer-events: none;
    z-index: -1;
  } */

  /* Права тінь */
  /* .tableBetweenWrap::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    box-shadow: 3px 0 15px 2px #00000040;
    pointer-events: none;
    z-index: -1;
  } */
  /* Нижня тінь */
  /* .totatCostMainSwadow {
    position: relative;
    z-index: 1;
  } */
  /* .totatCostMainSwadow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    box-shadow: 0 3px 15px 2px #00000040;
    pointer-events: none;
    border-radius: inherit;
    z-index: -1;
  } */
}
