.TableWrap {
  overflow-x: auto;
  width: 100%;
  box-shadow: 1px 3px 15px 2px #00000040;
  position: relative; /* change */
}

.Table {
  min-width: max-content;
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-inter);
  border-spacing: 10px 10px;
}
.TableCell {
  text-align: center;
  line-height: 18px;
  padding: 20px 10px;
  border-bottom: 1px solid #000000;
}
.TableTopRow {
  border-radius: 5px;

  background: var(--yellow);
}
.TableRowCell {
  font-family: var(--font-koulen);
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.TableRowCellActionsActions {
  display: table-cell;
}
.TableTopRow th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.TableTopRow th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.TableBtn {
  background: var(--yellow-gradient);
  font-family: var(--font-inter);

  cursor: pointer;
}
.TableBtnText {
  font-size: 20px;
}
.TableBtn:hover {
  box-shadow: 0px 4px 14.8px 0px #ffb326;
}
.TableItemIcon {
  width: 21px;
  height: 21px;
  min-width: 21px;
  min-height: 21px;
  max-width: 21px;
  max-height: 21px;
  object-fit: contain;
}
.TableItemIconOpened {
  width: 21px;
  height: 21px;
  min-width: 21px;
  min-height: 21px;
  max-width: 21px;
  max-height: 21px;
  object-fit: contain;
}
.TableItemInspect {
  display: none;
}
.inspectRow {
  font-size: 16px;
}
.noBorderBottom {
  border-bottom: none !important;
}
.leftAlign {
  text-align: left;
  padding-left: 0;
}
.leftAlignHeader {
  text-align: left;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 20;
}
.TableItemIconInspect {
  display: none;
}
.indentCellSmallFirst {
  display: none;
}
.indentCellSmallSecond {
  display: none;
}
.indentCellBig {
  display: table-cell;
}
.truncateText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.resizableColumn {
  max-width: 180px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Скрол */
.TableWrap::-webkit-scrollbar {
  height: 6px;
}

.TableWrap::-webkit-scrollbar-track {
  background: var(--yellow-gradient);
  border-radius: 8px;
}

.TableWrap::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 8px;
}

.TableWrap::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-black);
}
.inspectTr {
  display: none;
  max-width: 100%;
}

.TableWrap {
  scrollbar-color: var(--yellow-gradient);
  /* scrollbar-width: thin; */
}
.TableStickyButtonWrap {
  position: sticky;
  left: 0;
  top: 10px; /* відступ від верху TableWrap */
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.TableBtn {
  white-space: nowrap;
}

/* правила для Projects */
.completedRow {
  color: var(--green);
}
.waitingRow {
  color: var(--blue);
}
.inprogressRow {
  color: #ffb326;
}
.canceledRow {
  color: var(--red);
}
:global(.projectsTableWrap) .indentCellSmallSecond {
  display: none;
}

:global(.projectsTableWrap) .indentCellSmall,
:global(.projectsTableWrap) .indentCellLast {
  background: #fdfff266;
}
:global(.projectsTableWrap) .indentCellSmall {
  position: relative;
  width: 100px;
}

:global(.projectsTableWrap) .indentCellSmall::before,
:global(.projectsTableWrap) .indentCellSmall::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
:global(.projectsTableWrap) .indentCellSmall::before {
  left: 18%;
  background: var(--green);
  box-shadow: 25px 0 0 var(--yellow), 51px 0 0 var(--blue);
}
:global(.projectsTableWrap) .TableCell:nth-child(6) {
  padding: 0;
  overflow: visible;
}

/* правила для AddProject  Estimate*/
:global(.projectEstimateTableWrap) .TableRowCell:nth-child(6) {
  background: #ffb32666;
  width: 120px;
}
:global(.projectEstimateTableWrap) .TableCell:nth-child(4) {
  background: #ffb32666;
  width: 120px;
}

:global(.projectEstimateTableWrap) .indentCellLast {
  display: none;
}
:global(.projectEstimateTableWrap) .indentCellSmall {
  display: none;
}
:global(.projectEstimateTableWrap) .TableCellInspect {
  display: none;
}
/* правила для AddProject  Materials*/
:global(.projectAddMaterialsTableWrap) .indentCellSmallSecond {
  width: 20px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(7) {
  background: #ffb32666;
  width: 100px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(9) {
  background: #ffb32666;
  width: 100px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(10) {
  background: #ffb32666;
  width: 100px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(11) {
  background: #ffb32666;
  width: 100px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(6) {
  width: 110px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(7) {
  width: 110px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(9) {
  width: 100px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(10) {
  width: 100px;
}
:global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(14) {
  width: 120px;
}
:global(.projectAddMaterialsTableWrap) .TableCell:nth-child(5) {
  background: #ffb32666;
}
:global(.projectAddMaterialsTableWrap) .TableCell:nth-child(7) {
  background: #ffb32666;
}
:global(.projectAddMaterialsTableWrap) .TableCell:nth-child(8) {
  background: #ffb32666;
}
:global(.projectAddMaterialsTableWrap) .TableCell:nth-child(9) {
  background: #ffb32666;
}
:global(.projectAddMaterialsTableWrap) .indentCellSmall {
  display: none;
}

/* :global(.projectMaterialsEditorWrap) .TableCell:nth-child(7) {
  display: none;
} */
:global(.projectMaterialsEditorWrap) .TableCellInspect {
  display: none;
}
/* правила для AddProject  MaterialsIncome*/
:global(.projectMaterialsIncomeEditorWrap) .TableRowCell {
  padding: 0 6px;
}
:global(.projectMaterialsIncomeEditorWrap) .indentCellLast {
  display: table-cell;
}
:global(.projectMaterialsIncomeEditorWrap) .indentCellSmallSecond {
  width: 20px;
}
/* правила для HomePage  InProgressTable*/
:global(.InProgressTableWrap) .TableRowCell {
  padding: 0 6px;
}
:global(.InProgressTableWrap) .indentCellLast {
  display: none;
}
:global(.InProgressTableWrap) .TableCell {
  vertical-align: bottom;
}
:global(.InProgressTableWrap) .TableCell:nth-child(2) {
  vertical-align: top;
}
:global(.InProgressTableWrap) .indentCellSmallSecond {
  width: 20px;
}
/* правила для ProjectDetailed  Estimate*/
:global(.projectDetailedEstimateCompleteTableWrap) .indentCellSmallSecond {
  width: 20px;
}
:global(.projectDetailedEstimateCompleteTableWrap) .TableRowCell {
  padding: 0 6px;
}
/* правила для ProjectDetailed  Materials*/
:global(.projectDetailedMaterialsCompleteTableWrap) .indentCellSmallSecond {
  width: 20px;
}
:global(.projectDetailedMaterialsCompleteTableWrap) .TableRowCell {
  padding: 0 6px;
}
/* правила для Reports Materials*/
:global(.reportsMaterialsWrap) .indentCellLast {
  display: none;
}

:global(.reportsMaterialsWrap) .indentCellSmallSecond {
  width: 20px;
}
:global(.reportsMaterialsWrap) .indentCellSmall {
  display: none;
}
:global(.reportsMaterialsWrap) .TableCellInspect {
  display: none;
}
/* правила для ClientsDetailed Projects*/

:global(.clientsDetailedProjectsWrap) .indentCellLast {
  display: none;
}

@media (max-width: 768px) {
  .Tytle {
    line-height: 24px;
    font-size: 20px;
  }
  .TableCell {
    padding: 10px 0;
    font-size: 14px;
    display: none;
  }
  .TableTopRow {
    font-size: 16px;
  }
  .TableRowCell {
    display: none;
  }
  .TableItemInspect {
    display: table-cell;
  }
  .TableBtn {
    font-size: 16px;
    line-height: 19px;
  }
  .TableBtnText {
    font-size: 16px;
  }
  .TableItemIcon {
    display: none;
  }
  .TableItemIconOpened {
    display: none;
  }
  .TableItemIconInspect {
    display: table-cell;
    margin-left: auto;
  }
  .leftAlignHeader {
    display: table-cell;
    font-size: 16px;
  }
  .leftAlign {
    display: table-cell;
  }
  .indentCellSmallFirst {
    display: table-cell;
  }
  .indentCellSmallSecond {
    display: table-cell;
    width: 20px;
  }
  .indentCellBig {
    display: none;
  }
  .TableCellInspect {
    display: table-cell;
  }
  .noBottomBorderRow td {
    border-bottom: none !important;
  }
  .inspectTr {
    display: table-row;
  }
  /* правила для Projects */
  :global(.projectsTableWrap) .indentCellBig {
    width: 40px;
  }
  :global(.projectsTableWrap) .indentCellSmall,
  :global(.projectsTableWrap) .indentCellLast {
    background: none;
  }
  :global(.projectsTableWrap) .indentCellSmall {
    position: relative;
  }
  :global(.projectsTableWrap) .indentCellSmall::before,
  :global(.projectsTableWrap) .indentCellSmall::after {
    display: none;
  }

  /* правила для Crews WorkersPage */
  :global(.CrewsTableWrap) .indentCellSmallSecond {
    width: 20px;
  }
  /* правила для Workers WorkersPage */
  :global(.WorkersTableWrap) .indentCellSmallSecond {
    width: 20px;
  }
  /* правила для Clients */
  :global(.clientsTableWrap) .indentCellSmallSecond {
    display: none;
  }
  /* правила для AddProject  Estimate*/
  :global(.projectEstimateTableWrap) .TableRowCell:nth-child(6) {
    display: table-cell;
    background: none;
  }
  :global(.projectEstimateTableWrap) .TableCell:nth-child(4) {
    display: table-cell;
    background: none;
  }
  :global(.projectEstimateTableWrap) .TableCellInspect {
    display: table-cell;
  }
  :global(.projectEstimateTableWrap) .indentCellLast {
    display: table-cell;
  }
  :global(.projectEstimateTableWrap) .indentCellSmall {
    display: table-cell;
  }
  /* правила для AddProject  Materials*/

  :global(.projectAddMaterialsTableWrap) .indentCellLast {
    display: table-cell;
  }
  :global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(8) {
    display: table-cell;
    background: none;
    width: auto;
  }
  :global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(11) {
    display: table-cell;
    background: none;
    width: auto;
  }
  :global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(12) {
    display: table-cell;
    background: none;
    width: auto;
  }
  :global(.projectAddMaterialsTableWrap) .TableRowCell:nth-child(13) {
    display: table-cell;
    background: none;
    width: auto;
  }

  :global(.projectAddMaterialsTableWrap) .TableCell:nth-child(6) {
    display: table-cell;
    background: none;
  }
  :global(.projectAddMaterialsTableWrap) .TableCell:nth-child(9) {
    display: table-cell;
    background: none;
  }
  :global(.projectAddMaterialsTableWrap) .TableCell:nth-child(10) {
    display: table-cell;
    background: none;
  }
  :global(.projectAddMaterialsTableWrap) .TableCell:nth-child(11) {
    display: table-cell;
    background: none;
  }
  :global(.projectAddMaterialsTableWrap) .indentCellSmall {
    display: table-cell;
  }
  :global(.projectAddMaterialsTableWrap) .TableCellInspect {
    display: table-cell;
  }
  /* правила для AddProject  MaterialsIncome*/
  :global(.projectMaterialsIncomeEditorWrap) .indentCellLast {
    display: table-cell;
  }
  :global(.projectMaterialsIncomeEditorWrap) .TableRowCell:nth-child(7) {
    display: table-cell;
    background: none;
    width: auto;
  }
  :global(.projectMaterialsIncomeEditorWrap) .TableCell:nth-child(5) {
    display: table-cell;
    background: none;
  }
  /* правила для HomePage  InProgressTable*/
  :global(.InProgressTableWrap) .indentCellLast {
    display: table-cell;
  }
  :global(.InProgressTableWrap) .TableCell {
    vertical-align: middle;
  }
  :global(.InProgressTableWrap) .TableCell:nth-child(2) {
    vertical-align: middle;
  }
  /* правила для ProjectDetailed  Estimate*/
  :global(.projectDetailedEstimateCompleteTableWrap) .indentCellLast {
    display: table-cell;
  }
  /* правила для ProjectDetailed  Materials*/
  :global(.projectDetailedMaterialsCompleteTableWrap) .indentCellLast {
    display: table-cell;
  }
  :global(.projectDetailedMaterialsCompleteTableWrap) .TableRowCell {
    padding: 0;
  }
  /* правила для Reports Materials*/
  :global(.reportsMaterialsWrap) .indentCellLast {
    display: table-cell;
  }
  :global(.reportsMaterialsWrap) .TableRowCell:nth-child(6) {
    display: table-cell;
  }
  :global(.reportsMaterialsWrap) .TableCell:nth-child(4) {
    display: table-cell;
  }
  :global(.reportsMaterialsWrap) .TableCellInspect {
    display: table-cell;
  }
  :global(.reportsMaterialsWrap) .indentCellSmall {
    display: table-cell;
  }

  /* правила для ClientsDetailed Projects*/
  :global(.clientsDetailedProjectsWrap) .indentCellLast {
    display: table-cell;
  }
  :global(.clientsDetailedProjectsWrap) .indentCellSmallSecond {
    display: none;
  }
  :global(.clientsDetailedProjectsWrap) .indentCellSmall {
    display: table-cell;
  }
}
