.ModalOverlay {
  font-family: var(--font-inter);
  font-weight: 400;
}
.ModalWindow {
  box-shadow: 1px 3px 15px 2px #00000040;
}
.ModalTitle {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}
.SaveBtn {
  background: var(--yellow-gradient);
  color: var(--black);
  cursor: pointer;
  box-shadow: 1px 3px 15px 2px #00000020;
}
.CancelBtn {
  background: #d3d3d3;
  cursor: pointer;
  box-shadow: 1px 3px 15px 2px #00000020;
}
.SaveBtn:hover {
  box-shadow: 0px 4px 14.8px 0px #ffb326;
}
.CancelBtn:hover {
  box-shadow: 0px 4px 14.8px 0px #d3d3d3;
}

@media (max-width: 768px) {
}
